<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta charset="utf-8">
  <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>カート</h1>
	<?php if($loginOk === true){ ?>
	<div>ようこそ！ <?= $userName ?> 様</div>
	<?php } ?>
	<div>
		<a href="index.php">商品一覧へ</a> 
		<a href="logout.php">ログアウト</a>
	</div>
	<?php if(count($arrCart) > 0){ ?>
	<table class="resultTbl">
	<tr>
		<th>画像</th>
		<th>商品名</th>
		<th>価格</th>
		<th>数量</th>
		<th>小計</th>
		<th>税込価格</tr>
	</tr>
	<?php foreach ($arrCart as $data){ ?>
	<tr>
		<td><img src="../photo/<?php print $data['item_id'] ?>.jpg" style="width:160px;"></td>
		<td><?php print $data['item_name']; ?></td>
		<td><?php print number_format($data['item_price']); ?>円</td>
		<td>
			<form action="cart.php" method="post">
				<select name="item_num">

				<?php for ($i = 0; $i < $data['item_stock']; $i++){ ?>
				<option value="<?php print $i; ?>" <?php if ($i == $data['item_num']){ ?>selected<?php } ?>><?php print $i; ?></option>
				<?php } ?>

				<?php if ($data['item_stock'] < $data['item_num']){ ?>
				<option value="<?php print $data['item_num'] ?>" selected><?php print $data['item_num']; ?></option>
				<?php } ?>

				</select>
				<input type="hidden" name="item_id" value="<?php print $data['item_id']; ?>">
				<input type="submit" value="数量変更">
			</form>
			<?php if ($data['item_id'] == $nItemId){ ?>
			<div style="color:red">
				<?php print $resultMsg ?>
			</div>
			<?php } ?>
		</td>
		<td><?php print number_format($data['item_price'] * $data['item_num']); ?>円</td>
		<td><?php print number_format($data['item_price'] * $data['item_num'] * 1.1); ?>円</td>
	</tr>
	<?php } ?>
	<tr>
		<th colspan="5">合計(税込)</th>
		<td><?php print number_format($nZeikomiTotalPrice) ?>円</td>
	</tr>
	</table>
	<form action="order.php" method="post">
		<div  class = "box" align = "center">
	    <input type="submit" value="購入確認">
		</div>
	</form>
	<?php } else { ?>
		カートは空っぽです。
	<?php } ?>

	<br />
	<br />
	
</body>
</html>