<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta charset="utf-8" />
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="../common/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>ヘルプ</h1>
    <h2>
      Webユーザビリティ、参考にしたオンラインショップの特長、売れることの関連性について。
    </h2>
    <ul>
      <li>
        今回参考にしたオンラインショップは、以下の2つである。参考にしたオンラインショップの選定基準として、作成するWebアプリケーションの主なターゲットは女性であることと、食べ物を販売している店舗であることから、Webページの柔らかさや見やすさを選んだ。2つのオンラインショップの特長として、全体的なアクセントカラーを1つに絞っていることや、見やすさでゴシック体を使用しており、部分的にフォントのウェイトを重くしていること、販売する商品の写真を大きく見せ、画像の周りの空白を十分に取っていることの3つが挙げられる。商品を売ることは、ユーザーにストレスを与えず、気軽にショッピングを楽しんでもらうことを前提として考え、売れることにつなげる必要があるため、ユーザーにストレスを与えないことの工夫として、今回の参考にしたオンラインショップの特長が当てはまると考える。ユーザーのニーズは、商品を買うことであるため、使いやすさとして、商品を大きく見せつつ、見やすい文字で自然と購入へと誘導するなどという一連の流れが、Webユーザビリティとしての参考サイトの特長と売れることの関連性があると考える。
      </li>
      <br />
      <li>
        参考サイト1 :
        <a href="https://www.kracie.co.jp/products/category/index.html"
          >https://www.kracie.co.jp/products/category/index.html</a
        >
      </li>
      <li>
        参考サイト2 :
        <a href="https://shop.glico.com/?checked=1"
          >https://shop.glico.com/?checked=1</a
        >
      </li>
    </ul>
    <br />
    <h2>自分のオンラインショップに取り入れた特長とターゲット層について。</h2>
    <ul>
      <li>
        上記の分析により、アクセントカラーを1つに絞ること、商品を大きく見せること、ゴシック体を使用し、部分的にフォントのウェイトを変えることの3つを自身のオンラインショップに取り入れた。まず、アクセントカラーとして、今回のターゲット層は、20代~30代の女性であり、ロールケーキを販売するため、ロールケーキの生地の色である橙色に設定した。アクセントカラーを入れる前に比べて、ボーダーやテーブルの線と背景色を橙色の系統色に変えることで、ロールケーキ専門店の雰囲気を出すことができ、ユーザーにとって、親しみのあるサイトであると認識させることができる。次に、商品を買いたくなるように、おいしそうな商品の画像を選び、すべての商品の画像を大きくした。商品の視認が高まり、商品詳細へと自然に誘導することができると考える。最後に、文字を柔らかい印象にするため、全体のフォントを游ゴシックに変更した。これにより、文字への親しみが増し、文字や購入ボタンなどをストレスフリーに見ることができ、購入ボタンを押すハードルが、親しみやすさによって低下するだろう。以上の特長を取り入れ、ユーザビリティを向上できると考える。
      </li>
    </ul>
    <br />
    <h2>取り扱う商品と選んだ理由について。</h2>
    <ul>
      <li>
        私がアルバイトとして働いているお店がロールケーキ専門店であることと、最近オンラインショップを開設したが、無機質で青色のアクセントカラーであり、さらに売れるように改善したかったため、ロールケーキ専門店を選択した。また、実際にアルバイトとして働いていると、女性のお客様が多く来店してくることに気付いたため、ターゲット層は20代~30代の女性としている。取り扱う商品の数を5つにしたのは、それらが特に人気のある商品であったからであり、人気の商品だけに限定したショップを制作した。人気のある商品ほど、お客様が欲しいと感じている商品であり、その商品の写真をこだわっていたため、今回のオンラインショップでは、その写真を使用している。
      </li>
      <br />
      <li>
        私が働いているお店のオンラインショップ :
        <a href="https://fruit-umeda.take-eats.jp/"
          >https://fruit-umeda.take-eats.jp/</a
        >
      </li>
    </ul>
    <br />
    <a href="../ctrl/index.php">トップページへ戻る</a><br />
    <br />
  </body>
</html>
