<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta charset="utf-8" />
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="../common/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>購入確認</h1>
    <div>
      ようこそ！
      <?= $userName ?>
      様
    </div>
    <div>
      <a href="index.php">商品一覧へ</a> |
      <a href="logout.php">ログアウト</a>
    </div>

    <table class="resultTbl">
      <tr>
        <th>画像</th>
        <th>商品名</th>
        <th>価格</th>
        <th>数量</th>
        <th>小計</th>
        <th>税込価格</th>
      </tr>
      <?php foreach ($arrCart as $data){ ?>
      <tr>
        <td>
          <img
            src="../photo/<?php print $data['item_id'] ?>.jpg"
            style="width: 160px"
          />
        </td>
        <td><?php print $data['item_name']; ?></td>
        <td><?php print number_format($data['item_price']); ?>円</td>
        <td><?php print $data['item_num']; ?></td>
        <td>
          <?php print number_format($data['item_price'] * $data['item_num']); ?>円
        </td>
        <td>
          <?php print number_format($data['item_price'] * $data['item_num'] * 1.1); ?>円
        </td>
      </tr>
      <?php } ?>
      <tr>
        <th colspan="5">合計</th>
        <td><?php print number_format($nZeikomiTotalPrice) ?>円</td>
      </tr>
    </table>

    <form action="order.php" method="post">
      <input type="hidden" name="step" value="1" />
      <div class="box" align="center">
        <input
          type="button"
          value="戻る"
          onclick="javascript:location.href='cart.php'"
        />
        <input type="submit" value="購入確定" />
      </div>
    </form>
  </body>
</html>
