/*----------------------------------------------------
 INITIALIZE
----------------------------------------------------*/

/*** BODY **************************/
body {
  padding: 0 10px;
}

/*** HN ****************************/
h1 {
  font-size: 28px;
  padding: 7px 0px;
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
  padding: 5px 0px 5px 15px;
  border-left: 10px solid #ffe4b5;
  border-bottom: 7px solid #ffdead;
}

/*** TABLE A *************************/
table.searchTbl {
  width: 500px;
  margin: 0 0 10px 10px;
  text-align: left;
}
table.searchTbl th {
  width: 150px;
  padding: 5px;
  border-bottom: 1.9px solid #ffdab9;
}
table.searchTbl td {
  line-height: 20px;
  padding: 5px;
  border-bottom: 1.9px solid #ffdab9;
}

/*** TABLE B *************************/
table.resultTbl {
  width: 900px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}
table.resultTbl th {
  width: 900px;
  text-align: center;
  border: 1px solid #ffe4b5;
  background-color: #ffe4b5;
}
table.resultTbl td {
  padding: 5px;
  border: 1px solid #ffe4b5;
}
table.resultTbl td.btn {
  text-align: center;
  background-color: #fafafa;
}

/*** TABLEB_adm *************************/
table.resultTbl_adm {
  margin: 0 0 10px 10px;
}
table.resultTbl_adm th {
  text-align: center;
  border: 1px solid #aaaaaa;
  background-color: #dddddd;
}
table.resultTbl_adm td {
  padding: 10px;
  text-align: center;
  border: 1px solid #aaaaaa;
}
table.resultTbl_adm td.btn {
  text-align: center;
  background-color: #fafafa;
}

/*** OTHER *************************/
.errMsg {
  width: 490px;
  margin: 10px 0px;
  padding: 10px;
  color: red;
  border: 2px solid #ff0000;
}
.btnArea {
  width: 100px;
  margin: 0 0 10px 10px;
}
span.err {
  color: red;
}

.notice {
  color: red;
}
.box {
  margin: 20px 20px 30px 30px;
}
